vti_encoding:SR|utf8-nl
http\://www.google.com/:12vdc_starters.htm
x-dataconn\:///c\:/documents and settings/christian/my documents/my webs2/sample/driver={microsoft access driver (*.mdb)};dbq=url=fpdb/fpnwind.mdb:global.asa
/c\:/docume~1/christ~1/locals~1/temp/msoclip1/01/clip_image001.png:air_dryer.htm
mailto\:cmurgu@telus.net:updates.htm _borders/bottom.htm index.htm foh\\ e.t.\\ team.htm pr03.htm _borders/bottom1.htm
