vti_encoding:SR|utf8-nl
_private/inforeq.txt:feedback.htm
fpdb:global.asa
_private/form_results.txt:test_page_2.htm
_private/inforeq.htm:prod05.htm serv03.htm body\\ shop.htm electric\\ shop.htm electronic\\ lab.htm re\\ &\\ re.htm serv05.htm
